<div class=" navbar sticky-top p-3 m-0 w-100 d-flex justify-content-around">
  <div>
  </div>

  <button (click)="toggleVotes()" class="m-auto btn btn-primary" [ngClass]="user.votes.length >= 1 ? '' : 'disabled' ">
    {{user.hasShown? 'Ocultar votos' : 'Mostrar votos' }}
  </button>

</div>


<div class="">

  <app-users-status [users]="users"></app-users-status>



  <div class="characterContainer">
    @if(options.length > 0){
    @for (character of options; track $index) {
    <div class="card characterCard">
      <button class="btn btn-danger deleteButton" (click)="deleteOption(character.description)">X</button>
      <p>ID: {{character.id}}</p>
      <p class="fw-bold">Descripcion</p>
      <p class="">{{character.description}}</p>
      @if(user.hasShown){
      <div>
        <div class="d-flex votesContainer flex-column">
          <span class="m-2"><b>Votos</b></span>
          <div class="d-flex justify-content-around flex-row container-fluid ">
            @for(user of users ; track $index){
            @if(user.hasShown){
            <p class="userIcon" [ngClass]="user.votes.includes(character.id) ? 'iconVoted' : 'iconNotVoted' ">
              {{user.name[0].toUpperCase() + user.name[1]}}</p>
            }
            }
          </div>
        </div>
      </div>

      }
      <div class="w-auto mb-0 mt-auto">
        <button [ngClass]="user.votes.includes(character.id) ? 'btn bg-danger' : 'btn '"
          class="text-white w-100 mt-3 btn" (click)="changeVote(character.id)">
          {{user.votes.includes(character.id) ? 'Eliminar voto' : 'Votar' }}
        </button>
      </div>
    </div>
    }
    }
    @else {
    <div>
      <div class="card characterCard">
        No hay personajes para mostrar
      </div>
    </div>
    }
    <app-add-Option [apihandler]="apiHandlerReference"></app-add-Option>
  </div>
</div>
